<%= show_errors_for(user) %>
<%= form_for user do |f| %>
  <div class="form-group">
    <%= f.label :firstname, "First Name" %>
    <%= f.text_field :firstname, placeholder: "First Name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :middlename, "Middle Name" %>
    <%= f.text_field :middlename, placeholder: "Middle Name", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :lastname, "Last Name" %>
    <%= f.text_field :lastname, placeholder: "Last Name", class: "form-control" %>
  </div>


  <%= f.submit class: "btn btn-primary" %>
<% end %>
